#db settings
APP__DB__NAME=qcontrol_company_service
APP__DB__host = localhost
APP__DB__port = 5432
APP__DB__user = postgres
APP__DB__password=postgres


#redis settings
APP__REDIS__HOST=localhost
APP__REDIS__PORT=6379
APP__REDIS__URL=redis://${APP__REDIS__HOST}:${APP__REDIS__PORT}



# rabbitmq config
APP__RABBITMQ__HOST=localhost
APP__RABBITMQ__PORT=5672
APP__RABBITMQ__USER=${RABBITMQ_DEFAULT_USER}
APP__RABBITMQ__PASSWORD=${RABBITMQ_DEFAULT_PASS}
APP__RABBITMQ__VHOST=/
