#db settings
APP__DB__NAME=qcontrol_company_service
APP__DB__host = localhost
APP__DB__port = 5432
APP__DB__user = postgres
APP__DB__password=postgres


#redis settings
APP__REDIS__HOST=localhost
# APP__REDIS__HOST=redis
APP__REDIS__PORT=6379
APP__REDIS__URL=redis://${APP__REDIS__HOST}:${APP__REDIS__PORT}


RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

# rabbitmq config
# rabbitmq config
APP__RABBITMQ__HOST=localhost
# APP__RABBITMQ__HOST=rabbitmq
APP__RABBITMQ__PORT=5672
APP__RABBITMQ__USER=guest
APP__RABBITMQ__PASSWORD=guest
APP__RABBITMQ__VHOST=/